<?xml version="1.0"?>
<config>
	<modules>
		<Ewall_Override>
			<version>0.1.3</version>
		</Ewall_Override>
	</modules>
	<frontend>
        <layout>
            <updates>
                <override>
                    <file>override.xml</file>
                </override>
            </updates>
        </layout>
        <routers>
			<udropship>
			  <args>
				<modules>
				  <Ewall_Override before="Unirgy_Dropship">Ewall_Override</Ewall_Override>
				</modules>
			  </args>
			</udropship>
	   </routers>
    </frontend>
	<global>
		<helpers>
            <override>
                <class>Ewall_Override_Helper</class>
            </override>
        </helpers>
	   <blocks>
			<override>
                <class>Ewall_Override_Block</class>
			</override>
			<udprod>
				<rewrite>
					<vendor_products>Ewall_Override_Block_Vendor_Products</vendor_products>
				</rewrite>
			</udprod>
			<udropship>
				<rewrite>
					<vendor_preferences>Ewall_Override_Block_Vendor_Preferences</vendor_preferences>
				</rewrite>
			</udropship>
			<udropship>
				<rewrite>
					<adminhtml_vendor_edit_tabs>Ewall_Override_Block_Adminhtml_Vendor_Edit_Tabs</adminhtml_vendor_edit_tabs>
				</rewrite>
			</udropship>
	   </blocks>
	   <models>
            <override>
                <class>Ewall_Override_Model</class>
                <resourceModel>override_mysql4</resourceModel>
            </override>
            <override_mysql4>
				<class>Ewall_Override_Model_Mysql4</class>
				<entities>		  
					<deliverymethods>
						<table>ewall_deliverymethods</table>
					</deliverymethods>
					<vendordelivery>
						<table>ewall_vendor_delivery</table>
					</vendordelivery>
				</entities>
			</override_mysql4>
       </models>
	   <resources>
            <override_setup>
                <setup>
                    <module>Ewall_Override</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </override_setup>
            <override_write>
				<connection>
				  <use>core_write</use>
				</connection>
			 </override_write>
			 <override_read>
				<connection>
				  <use>core_read</use>
				</connection>
			 </override_read>
        </resources>
	</global>
	<admin>
		<routers>
			<override>
				<use>admin</use>
				<args>
					<module>Ewall_Override</module>
					<frontName>override</frontName>
				</args>
			</override>
			<udropshipadmin>
				<args>
					<modules>
						<Ewall_Override before="Unirgy_Dropship">Ewall_Override</Ewall_Override>
					</modules>
				</args>
			</udropshipadmin>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<sales>
				<children>
					<udropship>
						<children>
							<deliverymethods module="override">
								<title>Delivery Methods</title>
								<sort_order>25</sort_order>
								<action>override/adminhtml_deliverymethods</action>
							</deliverymethods>
						</children>
					</udropship>
				</children>
			</sales>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<override translate="title" module="override">
							<title>Override</title>
							<sort_order>1000</sort_order>
							<children>
								<overridebackend translate="title">
									<title>Delivery Options</title>
								</overridebackend>
								<deliverymethods translate="title">
									<title>Manage Deliverymethods</title>
									<sort_order>0</sort_order>
								</deliverymethods>
							</children>
						</override>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<override>
					<file>override.xml</file>
				</override>
			</updates>
		</layout>
	</adminhtml>
</config>
