<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Remove>
            <version>0.1.0</version>
        </Ewall_Remove>
    </modules>
    <frontend>
        <routers>
            <remove>
                <use>standard</use>
                <args>
                    <module>Ewall_Remove</module>
                    <frontName>remove</frontName>
                </args>
            </remove>
        </routers>
        <layout>
            <updates>
                <remove>
                    <file>remove.xml</file>
                </remove>
            </updates>
        </layout>
    </frontend>
    <global>
    	<rewrite>
	        <ewall_checkout>
	            <from><![CDATA[#^/checkout/onepage/#]]></from>
	            <to>/remove/onepage/</to>
	        </ewall_checkout>
	    </rewrite>
        <blocks>
        	<checkout>
	    		<rewrite>
	    			<onepage>Ewall_Remove_Block_Onepage</onepage>
	    			<onepage_abstract>Ewall_Remove_Block_Onepage</onepage_abstract>
	    		</rewrite>
	    	</checkout>
            <remove>
                <class>Ewall_Remove_Block</class>
            </remove>
        </blocks>
        <helpers>
            <remove>
                <class>Ewall_Remove_Helper</class>
            </remove>
        </helpers>
    </global>
</config>
